services:
  glance:
    container_name: glance
    image: glanceapp/glance
    restart: always
    volumes:
      - {{ glanceapp.volumes.config }}:/app/config
      - {{ glanceapp.volumes.assets }}:/app/assets
      - {{ glanceapp.volumes.root }}/.env:/app/.env
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ raid.mnt_path }}:/app/raid:ro
    ports:
      - {{ glanceapp.ports.http }}:8080
    env_file: {{ glanceapp.volumes.root }}/.env

