@charset "UTF-8";

/* Custom card colors */
/* Use with `class:` property of services in config.yml */
body #app {

  div.layout-vertical {
    /* Add gap between cards */
    div:has(div.card) {
      margin-top: 1rem;
      margin-bottom: 1rem;
      
      div.card {
        border-radius: var(--bulma-card-radius);
      }
    }
  }
}
