---
services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest
    container_name: cwa
    environment:
      # Only change these if you know what you're doing
      - PUID=1000
      - PGID=1001
      # Edit to match your current timezone https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
      - TZ={{ docker.tz }}
    volumes:
      # CW users migrating should stop their existing CW instance, make a copy of the config folder, and bind that here to carry over all of their user settings ect.
      - {{ cwa.volumes.config }}:/config
      # This is an ingest dir, NOT a library one. Anything added here will be automatically added to your library according to the settings you have configured in CWA Settings page. All files placed here are REMOVED AFTER PROCESSING
      - {{ cwa.volumes.ingest }}:/cwa-book-ingest
      # If you don't have an existing library, CWA will automatically create one at the bind provided here
      - {{ media.books }}:/calibre-library
    ports:
      # Change the first number to change the port you want to access the Web UI, not the second
      - {{ cwa.ports.http }}:8083
    restart: unless-stopped

  calibre-web-automated-book-downloader:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader:latest
    container_name: cwabd
    depends_on:
      - calibre-web-automated
    environment:
      FLASK_PORT: 8084
      LOG_LEVEL: info
      BOOK_LANGUAGE: fr,en
      USE_BOOK_TITLE: true
      TZ: {{ docker.tz }}
      APP_ENV: prod
      UID: 1000
      GID: 1001
    ports:
      - {{ cwa.ports.downloader }}:8084
    restart: unless-stopped
    volumes:
    # This is where the books will be downloaded to, usually it would be 
    # the same as whatever you gave in "calibre-web-automated"
      - {{ cwa.volumes.ingest }}:/cwa-book-ingest