---
services:
  lazylibrarian:
    image: lscr.io/linuxserver/lazylibrarian:latest
    container_name: lazylibrarian
    environment:
      - PUID=1000
      - PGID=1001
      - TZ={{ docker.tz }}
      - DOCKER_MODS=linuxserver/mods:universal-calibre
    volumes:
      - {{ lazylibrarian.volumes.config }}:/config
      - {{ cwa.volumes.ingest }}:/downloads
      - {{ data.books }}:/books #optional
    ports:
      - {{ lazylibrarian.ports.http }}:5299
    restart: unless-stopped