services:
  openbooks:
    container_name: openbooks
    command: '--persist --no-browser-downloads --name johndoe'
    image: 'evanbuss/openbooks:latest'
    environment:
      - BASE_PATH=/
    volumes:
      - '{{ cwa.volumes.ingest }}:/books/books' # https://github.com/evan-buss/openbooks/issues/60#issuecomment-1009156134
    user: "1000:1001"
    ports:
      - '{{ openbooks.ports.http }}:80'