services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      DOMAIN: "https://vaultwarden.{{ host.domain }}"
      ADMIN_TOKEN: ${VAULTWARDEN_ADMIN_TOKEN}
    volumes:
      - {{ vaultwarden.volumes.data }}:/data/
    ports:
      - {{ vaultwarden.ports.http }}:80
    networks:
      - {{ docker.networks.cloudflared }}

networks:
  {{ docker.networks.cloudflared }}:
    external: true
